@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --clr-gray-100: #F3F6FF;
    --clr-gray-200: #EFF2FC;
    --clr-gray-300: #E2E5F1;
    --clr-gray-400: #D4D7E5;
    --clr-gray-500: #B4B7C9;
    --clr-gray-600: #9397AD;
    --clr-gray-700: #565973;
    --clr-gray-800: #33354D;
    --clr-gray-900: #0B0F19;

    --clr-primary: #6366F1;

    --clr-bg: #FFFFFF; 
    --clr-bg-light: #F3F6FF;

    --clr-logo-bg: #F3F6FF;

    --br-m: 0,375em;
    --br-l: 0,5em;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Manrope", sans-serif;
    line-height: 1.8;
    background-color: var(---clr-bg);
    color: var(--clr-gray-700);
}

img {
    display: block;
    width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

h1, h2, h3, h4, h5 {
    text-wrap: balance;
    color: var(--clr-gray-900);
    font-weight: 800;
    line-height: 1.3;
}
ol,ul {
    list-style: none;
}


.space-y-1 > * + * {
    margin-top: 1rem;
}
.space-y-2 > * + * {
    margin-top: 2rem;
}
.space-y-3 > * + * {
    margin-top: 3rem;
}
.space-y-4 > * + * {
    margin-top: 4rem;
}

.container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;

    @media (width > 576px) {
        max-width: 540px;
    }
    @media (width > 768px) {
        max-width: 720px;
    }
    @media (width > 992px) {
        max-width: 960;
    }
    @media (width > 1200px) {
        max-width: 1140px;
    }
    @media (width > 1400px) {
        max-width: 1320px;
    }
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}


.d4 {
    font-size: 3.5rem;
    color: var(--clr-gray-900);
    font-weight: 800;
}
.h1 {
    font-size: 2.5rem;
    color: var(--clr-gray-900);
    font-weight: 800;
}
.h2 {
    font-size: 2rem;
    color: var(--clr-gray-900);
    font-weight: 800;
}
.h4 {
   font-size: 1.5rem; 
   color: var(--clr-gray-900);
   font-weight: 800;
}
.h5 {
    font-size: 1.25rem;
    color: var(--clr-gray-900);
    font-weight: 800;
}


.text-lg {
    font-size: 1.125rem;
}

.btn {
    font-size: .9rem;
    padding: .6em 1.8em;
    display: flex;
    gap: .5rem;
    white-space: nowrap;
    border-radius: 0.375em;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    img {
        height: 1.5em;
    }
}
.btn-primary{
   background-color: var(--clr-primary);
   color: var(--clr-bg);

   transition: background-color 150ms;

   &:hover,
   &:focus-visible {
    background-color: #888aef;
   }
}

.toggle {
    position: relative;
    flex-shrink: 0;
    width: 46px;
    height: 24px;
    display: inline-block;

}
.toggle input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    inset: 0;
    background-color: var(--clr-gray-600);
    border-radius: 100vw; 
    transition: all .27s;
}
.slider::after {
    position: absolute;
    top: 2px;
    left: 2px;
    height: calc(100% - 4px);
    content: "";
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--clr-bg);
    transition: all .27s;
}
.toggle input[type="checkbox"]:checked ~ .slider::after {
    left: calc(100% - 24px + 2px);
}
.toggle input[type="checkbox"]:checked ~ .slider {
    background-color: var(--clr-primary);
}




/* navbar start */
.main-nav {
    padding-block: 1rem;
    position: absolute;
    width: 100%;
    top: 0;


    .skip-link {
        display: inline-block;
        padding: 1rem;
        background-color: var(---clr-bg);
        border: 1px solid var(--clr-primary);
        border-radius: 0 1rem 1rem 0;
        position: absolute;
        left: -100vw;
        top: 10rem;

        transition: 300ms;
        
        &:focus {
          left: 0;  
        }
    }
    .container {
        position: relative;
    }
    .container,
    .main-menu {
        display: flex;
        align-items: center;
    }

    .darkmode-toggle {
        position: absolute;
        right: 12rem;

        display: flex;
        align-items: center;
        gap: 1rem;

    }
    .darkmode-toggle p {
    color: var(--clr-gray-700);
    font-weight: 600;
    }

    .menu-btn {
        display: none;
        background-color: transparent;
        border: 0;
        width: 50px;
        aspect-ratio: 1;
        padding: 1rem;
        padding-right: 0;
        cursor: pointer;
        position: absolute;
        right: 1rem;
    }

    .main-menu {
        width: 100%;
        justify-content: space-between;
        margin-left: 3rem;
    }

    .nav-link {
      color: var(--clr-gray-800);
      text-decoration: none;
      font-weight: 600;

      &:hover,
      &:focus-visible {
        color: var(--clr-primary);
      }
    }

    @media (width <= 992px) {
        .menu-btn {
            display: block;
        }
        .darkmode-toggle {
            right: 7rem;
        }
        .nav-link {
            display: none;   
        }
        .btn-primary {
            display: none;
        }
    }

    @media (width < 540px) {
        .darkmode-toggle {
            right: 5rem;
        }
        .darkmode-toggle p {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0,0,0,0);
            white-space: nowrap;
            border-width: 0; 
        }
    }
    
}

/* navbar end */ 


/* hero start */
.showcase {
    padding-top: 6rem;
    text-align: center;
    background-color: var(---clr-bg);
    background: rgb(99,102,241);
    background: linear-gradient(0deg, rgba(99,102,241,0.09997267950148814) 0%, rgba(218,70,239,0.052353631882440466) 42%, rgba(241,244,253,0.07196147501969541) 83%);

    .market-btns {
       display: flex;
       flex-direction: column; 
       margin-top: 0.5rem;
     
    }

    .store-btn {
        background-color: var(--clr-gray-900);
        width: 100%;
        padding: .5em 1em;
        border-radius: 0.6em;
        margin-top: 1rem;
    }
    .store-btn img {
        height: 2.5em;
      
        
    }
    .btn-round-white{
        display: flex;
        width: 52px;
        height: 2px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(---clr-bg);
        color: var(--clr-gray-700);
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
        padding-bottom: 3rem;
        
    }
    .more {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        margin-top: 2rem;
        padding-bottom: 2rem;
        padding-right: 1rem;
    }

    
    
   



    .phone-img-container {
        display: none;
    }



    @media (width > 768px) {
        
        .container {
            position: relative;
        }
        .content {
            width: 45%;
            text-align: start;
            margin-top: 6rem;
        }

        .market-btns {
            flex-direction: row;
            gap: 1rem;
        }

        .store-btn {
            padding: 0 1em;
        }

        .more {
            justify-content: flex-start;
        }

        .phone-img-container {
            display: block;
            width: 60%;

            position: absolute;
            bottom: 0;
            right: 0;
        }
    }


    @media (width > 1200px) {
        padding-top: 10rem;
        text-align: start;

        .d4 {
            width: 45%;
        }
        .content {
            width: 35%;
            margin-top: 1.5rem;
        }
        .store-btn {
            padding: .5em 2em;
        }
        .more {
            margin-top: 10rem;
            padding-bottom: 3rem;
        }
       
    }
    
    @media (width > 1400px) {
        padding-top: 13rem;
        .more {
            margin-top: 17rem;
        }
    }
}
/* hero end */

/* logos start */
.logos {
    display: none;
    padding-block: 4rem;

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    .logo-card {
        width: 100%;
        border: 1px solid var(--clr-gray-300);
        padding: 2rem;
        border-radius: 0.5em;
        display: grid;
        place-items: center;
    }

    @media (width > 768px) {
        display: block;

        .logo-card:nth-last-of-type(-n+2) {
            display: none;
        }
    }

    @media (width > 1200px) {
        .container {
            grid-template-columns: repeat(6, 1fr);
        }

        .logo-card:nth-last-of-type(-n+2) {
            display: block;
        }
    }
    @media (width > 1400) {
        .container {
            grid-template-columns: repeat(6, 1fr);
        }

        .logo-card:nth-last-of-type(-n+2) {
            display: block;
        }
    }
}
/* logos end */

/* features start */
.features {
    text-align: center;
    padding-block: 4rem;

    .iphone {
        display: none;
    }

    .features-grid {
        display: grid;
        gap: 2rem;
        margin-top: 4rem;
    }
    .feature-card {
        display: flex;
        text-align: start;
        gap: 1rem;
        align-items: flex-start;
    }
    .icon-container {
        background-color: var(--clr-logo-bg);
        padding: 1rem;
        border-radius: 0.5em;
        flex-shrink: 0;
    }

    @media (width > 768px) {
        .features-grid {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem 3rem;
        }
    }

    @media (width > 1200px) {
       text-align: start;

       .container {
        display: flex;
        gap: 4rem;
       }
       
       .iphone {
        display: block;
       }
       .text {
        flex: 1;
       }
    }
    @media (width > 1400px) {
        .container {
            gap: 10rem;
        }
    }
    
}
/* features end */

/* carousel start */
.carousel-section {
    padding-block: 4rem;
    background-color: var(--clr-gray-100);
    text-align: center;

    .carousel {
        display: flex;
        justify-content: space-evenly;
    }

    .text {
        max-width: 70ch;
        margin-inline: auto;
    }


    @media (width < 768px) {
        .carousel-item:first-of-type,
        .carousel-item:last-of-type {
        display: none;
        }
    }
} 
/* carousel end */

/* transfer start */
.transfer {
    padding-block: 4rem;

    .container {
        display: flex;
        gap: 5rem;
    }

    .check {
        text-align: start;
        flex: 1;
    }

    .payment {
        flex: 1;
        gap: 5rem;
        margin-top: 2rem;
    }

    .h2 {
        width: 80%;
        margin-top: 3rem;
    
    }
     
    .texts-space-y-1 {
        padding-top: 6rem;
    }
   
   .check-list {
    padding-top: 2rem;
    display: grid;
    gap: .5rem;
    padding-bottom: rem;
   }

   .payment-grid{
    padding-top: 3rem;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 2rem;
    
   }

   .payment-card {
    display: flex;
    text-align: start;
    gap: .5rem;
    align-items: flex-start;
    
   }

   .check-line {
    display: flex;
    text-align: start;
    gap: .5rem;
    align-items: flex-start;
   }

   .check-icon {
    flex-shrink: 0;
   }
   
   .payment-icon {
    background-color: var(--clr-logo-bg);
    padding: 1rem;
    border-radius: 0.5em;
    flex-shrink: 0;
    display: flex;
    
   }

   .more-btn {
    padding: 5rem;
    display: flex;
    gap: 2rem;
    text-wrap: nowrap;
    border-radius: 0.375em;
    padding: .5rem;
    padding-bottom: 10.5rem;
    
   }

   .learn-more {
    background-color: var(--clr-primary);
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 0.375em;
    padding: .3rem 1.7rem;
    display: flex;
    gap: .5rem;

   

   }

   .arrow {
    display: flex;
    width: 15px;
    height: 15px;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    margin-top: .4rem;
    padding: .1rem;

    
   }

   @media (width < 1200px) {
    display: none;
   }


}
/* transfer end */


/* testimonials start */
.testimonials {
    text-align: start;
    padding-block: 4rem;
    background-color: var(--clr-bg-light);

    .container {
        display: flex;
        gap: 1rem;
    }

   .title {
    width: 55%;
    font-weight: 800;
    margin-right: 15rem;
   }

   .testimonials-grid {
    display: grid;
    border: 1rem;
    width: 616px;
    height: 320px;
    border: 1px solid white;
    background-color: var(--clr-bg);
    border-radius: .3rem;
    padding: 1rem;
    padding-bottom: 2rem;
    box-shadow: .2rem .2rem rgba(147, 145, 145, 0.051);

   }



   .testimonials-grid p {
    width: 100%;
   }
    
    /* .testimonials-grid {
        display: grid;
        gap: 2rem 3rem;
        grid-template-columns: repeat(2, 1fr);
    } */

    .testimonials-cards {
        display: flex;
        text-align: start;
        gap: 1rem;
        align-items: flex-start;
       

    }

    .icon-container {
        position: relative;
        padding-top: 1rem;
        width: 250px;
        
       
    }
    

    .four-stars {
        display: flex;
        width: 88px;
        height: 30px;
    }

    .five-stars {
        display: flex;
        width: 88px;
        height: 30px;
    }

    @media (width < 1200px) {
        display: none;
    }


}
/* testimonials end */

/* faq start */
.faq {
    text-align: center;
    padding-block: 4rem;

    .question-btns {
        display: none;
    }

    .questions-grid {
        display: grid;
        gap: 3rem;
        border: 1rem;
        width: 100%;
       height: 100%;
       border: 1px gray;
    }

    .questions-card {
       display: flex; 
       text-align: start;
       gap: 1rem;
       align-items: flex-start;
       
    }

    .icon-container {
        display: flex;
        width: 30px;
        height: 16px;
        aspect-ratio: 1;
        align-items: center;
        flex-shrink: 0;
       
       
    }
    .icons-container {
        display: flex;
        width: 40px;
        height: 26px;
        aspect-ratio: 1;
        align-items: center;
        flex-shrink: 0;  
    }

    .answ {
        margin-top: 3rem;
    }
}
/* faq end */







